* {
    margin: -10px;
    padding: -10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}


body {
    background-color: #BDE5F0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100;
}

.container {
    position: relative;
    width: 245px;
    height: 245px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
    margin-right: -400px;
    margin-left: 360px;
}

.container .spinBtn {
    top: -75%;
    right: 5px;
    left: 110px;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #BDE5F0;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 300;
    color: #333;
    letter-spacing: 0.1em;
    cursor: pointer;
    user-select: none;

}

.container .spinBtn::before {
    content: ' ';
    position: absolute;
    top: 10px;
    width: 20px;
    background: #BDE5F0;

}

.container .wheel .accomp {
        
    position: absolute;
    width: 60%;
    height: 60%;
    background: var(--clr);
    transform-origin: bottom right;
    transform: rotate(calc(60deg * var(--i)));
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);


}

.container .wheel .accomp button {
    justify-content: center;
    justify-items:center ;
    transform: rotate(60deg);
    font-size: 1em;
    font-weight: 300;
   
    
}


.container .wheel {
    border: dotted 10px white;
    position: absolute;
    top: -290px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2f7d4e;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 5s ease-in-out;
    justify-content: center;
    justify-items: center;
}

.container .wheel .accomp span::after {
    justify-content: center;
    justify-items: center;
    content: '';
    position: absolute;
    font-size: 1;
    font-weight: 300;


}


.holder {
    top: -280%;
    position: absolute;
    background-color: #F4B400;
    width: 50px;
    height: 60px;
    overflow: hidden;
    z-index: -3;
    clip-path: polygon(50% 14%, 76% 25%, 51% 100%, 25% 25%);
}

.holder::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100x;
    border-radius: 50%;


}

.dimg {
    margin-top: 200px;
    height: 100px;
}

h1{

    font-size: 20px;
    color: #fff;
   
}
h2{
    font-size: 20px;
    color: #fff;
    
}
section{
    justify-content: center;
    justify-items: center;
}

